*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  max-inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  max-inline-size: 711px;
  max-block-size: 386px;
  padding-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* object-position: center; */
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__details {
  /* inline-size: 100%; */
  block-size: 100%;
}

.title {
  padding-block-end: 26px;
}

.content__list {
  max-block-size: 534px;
  overflow: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}