*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  max-inline-size: 1140px;
  gap: 30px;
  margin-inline: 30px;
  margin-block: 133px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

/* .search-form__checkbox-list {
  display: flex;
} */

.search-form__label {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

.search-form__pseudo-checkbox {

}
.search-form__label-text {
  line-height: 1.2;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 1.2;
  color: #fff;
  opacity: 70%;
  margin-block-start: 5px;
  width: 225px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  padding-block-end: 26px;
  font-family: 'Oswald', sans-serif;;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-block-size: 298px;
  overflow: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
} 

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 100%;
  max-width: 200px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;;
  font-size: 30px;
  line-height: 1;
  margin-block-end: 6px;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.button {
  all: unset;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 399px;
  height: 34px;
}