*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  max-inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  max-inline-size: 711px;
  max-block-size: 386px;
  padding-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* object-position: center; */
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: 1.2;
}

.search-form__label-text {
  line-height: 1.2;
}

.content__details {
  /* inline-size: 100%; */
  block-size: 100%;
}

.title {
  padding-block-end: 26px;
  font-family: 'Oswald', sans-serif;;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  ;
}

.content__list {
  max-block-size: 534px;
  overflow: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;;
  font-size: 30px;
  line-height: 1;
  padding-block-end: 6px;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}